<!---tirar fixed-bottom daqui -->
<footer class="sticky-footer fixed-bottom">
  <div class="container">
    <div class="text-center">
      <small>Copyright © Carol Junqueira & Juliana Dag</small>
    </div>
  </div>
</footer>