
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>GSMART</title>
		<link rel="stylesheet" href="/public/css/bootstrap.css">
		<link rel="stylesheet" href="/public/css/style.css">
	</head>
	<body>
		<%- include('partials/navbar') %>
		<div class="container-fluid">
			<div class="row center-cols center-align">
				<div class="col-lg-2">
					<div class="card">
						<div class="card-body">
							<h6 class="card-title">Traffic Average</h6>
							<h4 class="card-subtitle mb-2">100</h4>
						</div>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="card">
						<div class="card-body">
							<h6 class="card-title">Traffic Peak</h6>
							<h4 class="card-subtitle mb-2">100</h4>
						</div>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="card">
						<div class="card-body">
							<h6 class="card-title">Total Traffic</h6>
							<h4 class="card-subtitle mb-2">100</h4>
						</div>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="card">
						<div class="card-body">
							<h6 class="card-title">Vendor</h6>
							<h4 class="card-subtitle mb-2">100</h4>
						</div>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="card">
						<div class="card-body">
							<h6 class="card-title">New visits</h6>
							<h4 class="card-subtitle mb-2">100</h4>
						</div>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="card">
						<div class="card-body">
							<h6 class="card-title">Customers</h6>
							<h4 class="card-subtitle mb-2">100</h4>
						</div>
					</div>
				</div>	
			</div>
		</div>

		<%- include('partials/footer') %>
		<script src="/public/js/jquery-3.2.1.min.js"></script>
		<script src="/public/js/popper.min.js"></script>
		<script src="/public/js/bootstrap.js"></script>
	</body>
</html>