
/* elementos comuns */
.container-fluid{
    padding-top: 70px;
}

footer{
    background-color: #e9ecef;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* index.ejs */

/* zones.ejs */
.zones{
    background-color: #b0e0e6;
    width: 100vw;
    height: 100vh;
}

.zones-selection{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-flow: column;
}

.zones-selection > select{
    font-size: 20px;
    height: 51px;
    margin-bottom: 25px;
    box-shadow: 4px 3px 4px #888888;
}

.zones-selection > button{
    height: 44px;
    box-shadow: 4px 3px 4px #888888;
}

.btn-get-statistics{
    background-color: #dc9f35;
    border-color: #dc9f35;
    color: white;
}

.btn-get-statistics:hover{
    background-color:  #BA862B;
    border-color:  #BA862B;
}

/* comparing.ejs */

/* statistics.ejs */
.card{
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
    margin: .5rem;
}

.card-title{
    color:rgba(102, 102, 102, .6);
}

.card-subtitle{
    color:#666;
}

.row > .card{
    margin: 1rem;
}

.cards-info > .row{
    margin-top: 31px;
}

h3{
    float: left;
    margin-right: 100px;
    margin-left: 10px;
}

.top-statistics{
    margin-top: 20px;
}

.day-selection{
    font-size: 20px;
}

.charts{
  margin-top: 57px;
  margin-left: 10px;
}
