
/* elementos comuns */
body{
    height: 100vh;
}

.container-fluid{
    padding-top: 70px;
    height: 100vh;
}

footer{
    /* background-color: #e9ecef; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -34px;
    height: 34px;
}

/* index.ejs */

/* zones.ejs */
.zones{
    background-color: #2196F3;
    display: flex;
    align-items: center;
    justify-content: center;
}


.zones-selection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background: #fff;
    max-width: 350px;
    width: 350px;
    border-radius: 4px;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.12);
}

.zones-selection > select{
    font-size: 20px;
    border: 0;
    width: 100%;
    padding: 15px;
    height: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 8px 8px 0 0;
}

.zones-selection > button{
    padding: 15px;
    width: 100%;
    border-radius: 0 0 4px 4px;
    background: rgba(53, 59, 64, 0.91);
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-get-statistics{
    background-color: #dc9f35;
    border-color: #dc9f35;
    color: white;
}

.btn-get-statistics:hover{
    background-color: rgba(0, 0, 0, 0.55);
}

/* comparing.ejs */
.area-content{
    margin: 0 auto;
}

/* statistics.ejs */
.card{
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
    margin: .5rem;
}

.card-title{
    color:rgba(102, 102, 102, .6);
}

.card-subtitle{
    color:#666;
}

.row > .card{
    margin: 1rem;
}

.cards-info > .row{
    margin-top: 31px;
}

h3{
    float: left;
    margin-right: 100px;
    margin-left: 10px;
}

.top-statistics{
    margin-top: 20px;
}

.day-selection{
    font-size: 20px;
}

.charts{
  margin-top: 30px;
}

/* .bg-dark{
    background-color: #2296f3 !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.32);
    padding: 15px;
} */