
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>GSMART</title>
		<link rel="stylesheet" href="/public/css/bootstrap.css">
		<link rel="stylesheet" href="/public/css/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
	</head>
	<body>
		<%- include('partials/navbar') %>
		<div class="container-fluid">
			<div class="col-lg-6 area-content">
					<div class="card">
						<div class="card-body">
							<canvas id="area-chart"></canvas>
						</div>
					</div>		
				</div>
		</div>
		<%- include('partials/footer') %>
		<script src="/public/js/jquery-3.2.1.min.js"></script>
		<script src="/public/js/popper.min.js"></script>
		<script src="/public/js/bootstrap.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.js"></script>
		<script src="/controllers/comparing.js"></script>
	</body>
</html>
