
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>GSMART</title>
		<link rel="stylesheet" href="/public/css/bootstrap.css">
		<link rel="stylesheet" href="/public/css/style.css">
	</head>
	<body>
		<%- include('partials/navbar') %>
		<div class="container-fluid zones">
			<form method="get" class="zones-selection">
				<select name="select-zone" class="custom-select" onchange="selectedZone(this)">
					<option selected>Select a zone</option>
					<option value="LTIA">LTIA Unesp</option>
					<option value="Camflam">Camflam Bauru</option>
				</select>
				<button type="submit" class="btn btn-get-statistics" style="display:block">Get statistics!</button>
			</form>
		</div>
		<%- include('partials/footer') %>
		<script src="/public/js/jquery-3.2.1.min.js"></script>
		<script src="/public/js/popper.min.js"></script>
		<script src="/public/js/bootstrap.js"></script>
		<script src="/controllers/zones.js"></script>
	</body>
</html>