body{
    color: white;
    background: powderblue;
}

.input-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}

form{
    background-color: #37474F;
    padding: 100px;
    border-radius: 17px;
}
textarea{
    resize: none;
}

.form-group label{
    width: 100%;
}

#submit{
    margin-top: 30px;
    width: 100%;
}

[hidden] {
  display: none !important;
}

#feedback{
    margin-top: 40px;
    font-size: 30px;
}

.graph{
    width: 100%;
    min-height: 450px;
    margin-top: 100px;
}
